#wrapper
{
    width: 100%;
    overflow-x: hidden;
}

.navbar-default
{
    background-color: transparent;
    border-color: #2f4050;
}

@media (min-width: 768px)
{
    .navbar-static-side
    {
        z-index: 2001;
        position: absolute;
        width: 220px;
    }
}

@media (max-width: 768px)
{
    .navbar-static-side
    {
        display: none;
    }
}

.nav-header
{
    padding: 33px 25px;
    background-color: #2f4050;
    background-image: url("patterns/header-profile.png");
}

.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer
{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.img-circle
{
    border-radius: 50%;
}

.nav-header a
{
    color: #DFE4ED;
}

a
{
    cursor: pointer;
}

.clear
{
    display: block;
    overflow: hidden;
}

.block
{
    display: block;
}

.m-t-xs
{
    margin-top: 5px;
}

body.mini-navbar.fixed-sidebar .profile-element,
.block
{
    display: block !important;
}

.font-bold
{
    font-weight: 600;
}

.nav-header .text-muted
{
    color: #8095a8;
}

.dropdown-menu
{
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.m-t-xs
{
    margin-top: 5px;
}

.dropdown-menu > li > a
{
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.nav-header a
{
    color: #DFE4ED;
}

.logo-element
{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: none;
    padding: 18px 0;
}

.nav > li.active
{
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.nav > li > a i
{
    margin-right: 6px;
}

#page-wrapper
{
    min-height: auto;
}

#page-wrapper
{
	padding: 0 15px;
    min-height: 568px;
    position: relative !important;
}

@media (min-width: 768px)
{
    #page-wrapper
    {
        position: inherit;
        margin: 0 0 0 240px;
        min-height: 2002px;
    }
}

.gray-bg,
.bg-muted
{
    background-color: #f3f3f4;
}

@media (max-width: 768px)
{
    #page-wrapper
    {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 1000px;
    }
}

.border-bottom
{
    border-bottom: 1px solid #e7eaec !important;
}

.navbar
{
    border: 0;
}

.navbar-fixed-top,
.navbar-static-top
{
    background: #f3f3f4;
}

.white-bg
{
    background-color: #ffffff;
}

@media (max-width: 768px)
{
    .navbar-header
    {
        display: inline;
        float: left;
    }
}

.minimalize-styl-2
{
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.btn
{
    border-radius: 3px;
}

.btn-primary
{
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.navbar-top-links li
{
    display: inline-block;
}

.nav > li > a
{
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.nav.navbar-right > li > a
{
    color: #999c9e;
}

.navbar-top-links li a
{
    padding: 20px 10px;
    min-height: 50px;
}

.nav.navbar-top-links a
{
    font-size: 14px;
}

/* Main dashboard wrapper
---------------------------------------------*/

.wrapper
{
    padding: 0 20px;
}

.wrapper-content
{
    padding: 20px 10px 40px;
}

.ibox
{
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-title
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}
