

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

/* CUSTOM CSS FOR ADMIN PANEL
-----------------------------------------------------*/

body
{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 100;
}

h1
{
    font-size: 30px;
}

h5
{
    font-size: 12px;
}

h3,
h4,
h5
{
    margin-top: 5px;
    font-weight: 600;
}

body.mini-navbar .logo-element
{
    display: block;
}

.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer
{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

body.mini-navbar .navbar-static-side
{
    width: 70px;
}

body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default .nav li a span
{
    display: none;
}

body.mini-navbar .nav-header
{
    padding: 0;
    background-color: #1ab394;
}

body.canvas-menu .nav-header
{
    padding: 33px 25px;
}

body.mini-navbar #page-wrapper
{
    margin: 0 0 0 70px;
}

body.fixed-sidebar.mini-navbar .footer
{
    margin: 0 0 0 0 !important;
}

body.mini-navbar .nav-header
{
    padding: 0;
    background-color: #1ab394;
}

body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default .nav li a span
{
    display: none;
}

.navbar-top-links li
{
    display: inline-block;
}

@media (max-width: 768px)
{
    #page-wrapper
    {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 1000px;
    }
    .body-small .navbar-static-side
    {
        display: none;
        z-index: 2001;
        position: absolute;
        width: 70px;
    }
    .body-small.mini-navbar .navbar-static-side
    {
        display: block;
    }
}

/*--------- Main container-----*/

#wrapper
{
    width: 100%;
    overflow-x: hidden;
}

/* Side Menu
-------------------------------------*/

.navbar-default
{
    background-color: transparent;
    border-color: #2f4050;
}

/* Responsive CSS for side menu. Hide in mobile devices
-----------------------------------------------------------*/

@media (min-width: 768px)
{
    .navbar-static-side
    {
        z-index: 2001;
        position: absolute;
        width: 220px;
    }
}

@media (max-width: 768px)
{
    .navbar-static-side
    {
        display: none;
    }
}

/* Navbar header for Admin profile display and Logo
------------------------------------------------------------*/

.nav-header
{
    padding: 33px 25px;
    background-color: #2f4050;
    background-image: url("patterns/header-profile.png");
}

.img-circle
{
    border-radius: 50%;
}

.nav-header a
{
    color: #DFE4ED;
}

.nav > li > a
{
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.nav > li.active
{
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus
{
    background-color: #293846;
    color: white;
}

.nav > li.active > a
{
    color: #ffffff;
}

a
{
    cursor: pointer;
}

.clear
{
    display: block;
    overflow: hidden;
}

.block
{
    display: block;
}

.m-t-xs
{
    margin-top: 5px;
}

body.mini-navbar.fixed-sidebar .profile-element,
.block
{
    display: block !important;
}

.font-bold
{
    font-weight: 600;
}

.nav-header .text-muted
{
    color: #8095a8;
}

.dropdown-menu
{
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}

.m-t-xs
{
    margin-top: 5px;
}

.dropdown-menu > li > a
{
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.nav-header a
{
    color: #DFE4ED;
}

.logo-element
{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: none;
    padding: 18px 0;
}

/*-------- Top Navbar --------------*/

.navbar
{
    border: 0;
}

.navbar-fixed-top,
.navbar-static-top
{
    background: #f3f3f4;
}

.minimalize-styl-2
{
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.navbar-top-links li
{
    display: inline-block;
}

.nav.navbar-right > li > a
{
    color: #999c9e;
}

.navbar-top-links li a
{
    padding: 20px 10px;
    min-height: 50px;
}

.nav.navbar-top-links a
{
    font-size: 14px;
}

.m-r-sm
{
    margin-right: 10px;
}

.nav.navbar-right > li > a
{
    color: #999c9e;
}

/* Side Menu list -------*/

.nav > li.active
{
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.nav > li > a i
{
    margin-right: 6px;
}

/* Main Dashboard style
-----------------------------------------------*/

#page-wrapper
{
    min-height: auto;
}

#page-wrapper
{
    padding: 0 15px;
    position: relative !important;
    min-height: 528px;
}

@media (min-width: 768px)
{
    #page-wrapper
    {
        position: inherit;
        margin: 0 0 0 240px;
        min-height: 2002px;
    }
}

.gray-bg,
.bg-muted
{
    background-color: #f3f3f4;
}

@media (max-width: 768px)
{
    #page-wrapper
    {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 1000px;
    }
}

.border-bottom
{
    border-bottom: 1px solid #e7eaec !important;
}

.white-bg
{
    background-color: #ffffff;
}

@media (max-width: 768px)
{
    .navbar-header
    {
        display: inline;
        float: left;
    }
}

.btn
{
    border-radius: 3px;
}

.btn-primary
{
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

/* Dashboard Info Boxes
---------------------------------------------*/

.wrapper
{
    padding: 0 20px;
}

.wrapper-content
{
    padding: 20px 10px 40px;
}

.ibox
{
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-title
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.label
{
    background-color: #d1dade;
    color: #5e5e5e;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}

.label-success,
.badge-success
{
    background-color: #1c84c6;
    color: #FFFFFF;
}

.label-info,
.badge-info
{
    background-color: #23c6c8;
    color: #FFFFFF;
}

.label-primary,
.badge-primary
{
    background-color: #1ab394;
    color: #FFFFFF;
}

.label-danger,
.badge-danger
{
    background-color: #ed5565;
    color: #FFFFFF;
}

.ibox-title .label
{
    float: left;
    margin-left: 4px;
}

.no-margins
{
    margin: 0 !important;
}

.ibox-title h5
{
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-content
{
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.stat-percent
{
    float: right;
}

.text-success
{
    color: #1c84c6;
}

.float-e-margins .btn
{
    margin-bottom: 5px;
}

.btn-white
{
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.flot-chart
{
    display: block;
    height: 200px;
}

.flot-chart-content
{
    width: 100%;
    height: 100%;
}

.stat-list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.stat-list li:first-child
{
    margin-top: 0;
}

.stat-list li
{
    margin-top: 15px;
    position: relative;
}

.stat-percent
{
    float: right;
}

.text-navy
{
    color: #1ab394;
}

.progress-mini
{
    margin-top: 5px;
}

.progress-mini,
.progress-mini .progress-bar
{
    height: 5px;
    margin-bottom: 0;
}

.progress-bar
{
    background-color: #1ab394;
}

/* Admin Footer
-------------------------------*/

.footer
{
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus
{
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #626262;
}

tabs-container .nav-tabs > li a:hover
{
    background: transparent;
    border-color: transparent;
}

.tabs-container .nav-tabs
{
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .panel-body
{
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

#login-btn
{
    margin-top: 40px;
    background: #ec694f;
    color: #fff;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}

.btn-group .btn-primary
{
}

