

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

/* MAIN STYLE CSS FILE
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

body
{
    font-family: "open sans", "Roboto", sans-serif;
    color: #5a5a5a;
    background-color: #ededf5;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 100;
}

h1
{
    font-size: 30px;
}

h5
{
    font-size: 12px;
}

h3,
h4,
h5
{
    margin-top: 5px;
    font-weight: 400;
}

@media (max-width:767px)
{
    h1, h2, h3, h4, h5, h6
    {
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
    }
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-brand
{
    background-image: url('images/MainLogo.png');
    background-size: cover;
    width: 112px;
}

.navbar-wrapper
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/*------------ Navbar ---------------*/

/*  Responsive CSS for search box and Header
-------------------------------------------------------*/

@media (min-width: 600px)
{
    #search-box
    {
        margin-left: 170px;
        max-width: 520px;
        margin-bottom: 58px;
    }
}

@media (max-width: 599px)
{
    #search-box
    {
        position: absolute;
        top: 70px;
        left: 1px;
        float: none;
    }
    .mdl-layout__header
    {
        height: 120px;
    }
    .cart
    {
        float: none;
        position: absolute;
        right: 1px;
    }
}

.mdl-layout__header
{
    background-color: #000;
}

.mdl-layout__header .mdl-layout__drawer-button
{
    background-color: #000000;
}

/* Navbar dropdown menu style
---------------------------------------------------*/

.mdl-navigation .dropdown .dropdown-menu
{
    border-radius: 4px;
    border: none;
    text-transform: none;
    min-width: 180px;
    background: #253340;
    margin: 0;
}

.mdl-navigation .dropdown .dropdown-menu a
{
    border-bottom: 1px solid #212e3a;
    padding: 8px 20px;
    color: #fff;
    opacity: 1;
}

.mdl-navigation .dropdown .dropdown-menu a:hover
{
    background-color: #3f586e;
}

.mdl-navigation__link:hover
{
    background: #000;
    text-decoration: none;
}

/*------------------------*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

@media (max-width:767px)
{
    .single-item
    {
        border-radius: 4px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 7px;
    }
}

@media (max-width: 767px)
{
    .slide
    {
        width: 100%;
    }
}

.slide
{
    background-color: rgba(0, 0, 0, 0.32);
    width: 100%;
    margin-left: 8px;
}

@media (min-width:768px)
{
    .single-item
    {
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 8px;
    }
}

/* Thin out the marketing headings */

.featurette-heading
{
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* Products Container
------------------------------------------------ */

.products .col-md-3 img
{
    margin-left: 0;
}

.products .col-md-3 h3
{
    margin-left: 0;
}

.products .col-md-3 p
{
    margin-left: 0;
}

.products .col-xs-6
{
    padding-left: 1px;
    padding-right: 1px;
}

.products
{
    background-color: #ffffff;
    border-radius: 6px;
}

.products .row .col-xs-6 img
{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.products .row .col-xs-6 img:hover
{
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.product-carousel .btn-default
{
    border: 2px solid #ec6952;
    color: #ec6952;
    font-weight: 500;
    position: absolute;
    bottom: 43px;
}

.product-carousel .btn-default:hover
{
    background: #ec6952;
    color: #fff;
}

.product-carousel .col-xs-6 .thumbnail:hover
{
    -webkit-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
}

.product-carousel
{
    padding-left: 5px;
    padding-right: 5px;
}

.product-carousel .thumbnail h3
{
    font-size: 18px;
    line-height: 25px;
}

.product-carousel .thumbnail img
{
    height: 225px;
    margin: auto;
}

.product-carousel .caption .product-cost
{
    position: absolute;
    left: 80px;
    font-size: 15px;
    font-weight: 600;
}

@media (max-width: 767px)
{
    .product-carousel .thumbnail img
    {
        height: 160px;
    }
    .product-carousel .btn-default
    {
        width: 40%;
        height: 25px;
        font-size: 9px;
        font-weight: 600;
        position: absolute;
        bottom: 38px;
    }
    .product-carousel .caption h3
    {
        font-size: 11px;
        line-height: 15px;
        font-weight: 500;
    }
    .product-carousel .caption small
    {
        font-size: 11px;
        position: absolute;
        bottom: 72px;
    }
    .product-carousel .caption .product-cost
    {
        font-size: 13px;
    }
}

@media (max-width:767px)
{
    .product-carousel .col-sm-3 h3
    {
        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
    }
    .product-carousel .thumbnail
    {
        max-height: 300px;
    }
}

.product-carousel .thumbnail
{
    width: 100%;
    height: 390px;
}

.thumbnail small
{
    position: absolute;
    bottom: 83px;
}

/*Brand section
---------------------------------------*/

#brands
{
    margin-top: 9px;
    margin-right: 11px;
    margin-left: 15px;
}

#brands li > img
{
    opacity: 0.7;
}

#brands li > img:hover
{
    opacity: 1;
}

/* App Section
------------------------------------------ */

#app-section
{
    min-height: 400px;
    background-image: url('images/bg-footer-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#app-section h2
{
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    color: #f7f3f3;
    position: relative;
    margin-top: 80px;
}

#app-logo
{
    margin-top: 73px;
}

#app-logo .img-responsive
{
	width: 80%;
	height: 100px;
}

@media (max-width:767px)
{
	#app-logo .img-responsive
   {
	  width: 50%;
	  height: 75px;
	  margin:auto;
	  padding-bottom: 10px;
    }

}
/* footer Section
---------------------------------------------- */

footer
{
    background-color: #20364a;
}

#footer-row h3
{
    font-size: 28px;
    color: #ffffff;
}

#footer-row ul > li:hover
{
    color: #ec6952;
}

#footer-row ul > li
{
    color: #ffffff;
    font-weight: normal;
}

#footer-row .social
{
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
}

#footer-row .form-container p
{
    color: #fff;
    white-space: nowrap;
}

#footer-row .col-xs-12
{
    padding-top: 20px;
    padding-bottom: 22px;
}

#footer-row .social li > a .fa:hover
{
    color: #ec6952;
}

#formInput
{
    width: auto;
    border-color: #eeeeee;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    appearance: none;
    -webkit-appearance: none;
}

#subscribe-Button
{
    background: #5d80a1;
    border-color: #5d80a1;
    color: #fff;
}

#subscribe-Button:hover
{
    background-color: #43719d;
}

.bottom-bar
{
    background: #1e1e1e;
    padding-top: 8px;
    padding-bottom: 8px;
}

.bottom-bar small
{
    color: #bbbbbb;
}

/*  Login.html and signup.html style css
-------------------------------------------------*/

.login-box
{
    position: relative;
    width: 90%;
    max-width: 570px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
}

#login-btn
{
    margin-top: 60px;
    background: #ec694f;
    color: #fff;
    margin-left: 16%;
    width: 65%;
    height: 40px;
}

#register-btn
{
    margin-top: 17px;
    background: #fff;
    color: #ec694f;
    margin-left: 16%;
    height: 40px;
    width: 65%;
}

.close
{
    color: #000;
    float: right;
    font-size: 47px;
    font-weight: bold;
}

.close:hover, .close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#login-Modal {
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

#signup-Modal {
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.cd-form
{
    padding-left: 20px;
    padding-bottom: 45px;
}

.cd-form .mdl-textfield
{
    width: 65%;
    margin-left: 16%;
    top: 25px;
}

/* Cart page style css code
----------------------------------------------------------*/

/*-------RESPONSIVE CSS------*/

/*--------Content box hide or show on screen sizes-------*/

@media (max-width: 599px)
{
    #place-order-content
    {
        display: none;
    }
}

@media (min-width: 600px)
{
    .btn-group
    {
        display: none;
    }
}

#wrapper
{
    width: 100%;
    overflow-x: hidden;
}

#page-wrapper
{
    padding: 0 15px;
    position: relative !important;
    min-height: 568px;
}

.wrapper-content
{
    padding: 20px 0px 40px;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5
{
    margin-top: 10px;
}

.ibox
{
    clear: both;
    padding: 0;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px -2px rgba(0,0,0,0.75);
}

.ibox:after,
.ibox:before
{
    display: table;
}

.ibox-title
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.ibox-content
{
    background-color: #ffffff;
    color: inherit;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    padding: 10px 20px;
}

.ibox-content
{
    clear: both;
}

.ibox-title h5
{
    display: inline-block;
    font-size: 16px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
    font-weight: 600;
    font-family: roboto;
}

#checkout-button
{
    float: right;
}

.btn-group
{
    width: 100%;
    bottom: 0;
    position: fixed;
    background: #fff;
    height: 53px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}

.mdl-button span
{
    color: #fff;
    font-family: roboto;
}

.mdl-button i
{
    color: #fff;
}

#place-order-content
{
    -webkit-box-shadow: -1px -1px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 11px -2px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 11px -2px rgba(0,0,0,0.75);
}

/* Product Detail
-------------------------------------*/

.product-detail .product-images .image-imitation
{
    background-color: #ffffff;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.product-detail .product-images #product-img
{
    height: 500px !important;
    margin: auto;
    padding: auto;
}

.product-detail .ibox-content
{
    padding: 15px 30px 20px;
    width: 100%;
}

.m-t-md
{
    margin-top: 20px;
}

.product-main-price small
{
    font-size: 20px;
}

#cart-btn
{
    color: #fff;
    background: #ec694f;
    font-weight: 600;
    right: 10px;
    width: 165px;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 30px;
    line-height: 1;
    color: #ec694f;
}

.slick-prev,.slick-next
{
    width: 35px;
}

@media (max-width:767px)
{
    .image-imitation
    {
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 100px;
        padding-right: 100px;
    }
    #cart-btn
    {
        right: 40px;
    }
    .product-detail .product-images #product-img
    {
        height: 320px !important;
        margin: auto;
    }
}

.font-bold
{
    font-weight: 400;
    font-size: 27px;
    line-height: 39px;
    padding-top: 9px;
}

.m-b-xs
{
    margin-bottom: 5px;
}

.mdl-layout .space-line
{
    border-bottom: 1px solid #ccc;
}

.mdl-layout-title
{
    background: #000;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mdl-navigation i
{
    padding-right: 15px;
    font-size: 15px;
}

@media (min-width:480px)
{
    .slide img
    {
        width: 100%;
        height: 380px;
    }
}

@media (max-width:479px)
{
    .slide img
    {
        height: 200px;
    }
}

.shopping-cart-table .text-navy
{
    font-size: 23px;
    color: #000;
    text-decoration: none;
}

@media (max-width:767px)
{
    .shopping-cart-table .text-navy
    {
        font-size: 18px;
    }
}

.shopping-cart-table #product-img
{
    margin: auto;
    height: 220px;
}

@media (max-width:767px)
{
    .shopping-cart-table #product-img
    {
        margin: auto;
        height: 160px;
    }
}

.empty-cart
{
    height: 400px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.ibox-content .product-images
{
    height: 570px;
}

@media (max-width:767px)
{
    .ibox-content .product-images
    {
        height: 380px;
    }
    .product-main-price
    {
        padding-top: 18px;
    }
    .font-bold
    {
        font-size: 20px;
        line-height: 21px;
        padding-top: 22px;
    }
}

/* Profile Custom CSS Style -----
--------------------------------------------------*/
.demo-card-wide.mdl-card
{
    width: 85%;
    margin: auto;
    height: 230px;
}

.demo-card-wide > .mdl-card__title
{
    color: #fff;
    height: 176px;
    background: url('images/mb-bg-fb-09.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu
{
    color: #fff;
}

.profile-img
{
    width: 13%;
    margin: auto;
    position: absolute;
    left: 45%;
    top: 40%;
}

@media (max-width:767px)
{
    .demo-card-wide.mdl-card
    {
        width: 100%;
    }
    .profile-img
    {
        top: 120px;
        left: 63%;
        width: 100px;
    }
}

.demo-card-event.mdl-card
{
    height: 240px;
    background: #3E4EB8;
    left: 44px;
    width: 90%;
    margin-left: 41px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.demo-card-event > .mdl-card__actions
{
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event > .mdl-card__title
{
    align-items: flex-start;
}

.demo-card-event > .mdl-card__title > h4
{
    margin-top: 0;
}

.demo-card-event > .mdl-card__actions
{
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.demo-card-event > .mdl-card__actions > .material-icons
{
    padding-right: 10px;
}

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button
{
    color: #fff;
}

@media (max-width:767px)
{
    .demo-card-event.mdl-card
    {
        width: 100%;
        height: 200px;
        margin-left: -45px;
    }
}

#profile-info .mdl-textfield
{
    margin-left: 38px;
}

#profile-info i
{
    margin-left: 63px;
    font-size: 28px;
    color: #757575;
    margin-top: 32px;
}

#profile-info-submit
{
    width: 25%;
    margin-left: 66%;
}

@media (max-width:479px)
{
    #profile-info i
    {
        display: none;
    }
}

#profile-info .mdl-text
{
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
}

.profile-form .mdl-textfield
{
    width: 260px;
}

#profile-info
{
    background: #fff;
}

.img-circle
{
    border: 1px solid #757575;
}

/* Profile CSS end -------*/

/* Order Page --------
------------------------------------------*/
.order-container
{
    margin-top: 20px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
}

.order-header
{
    border-bottom: 1px solid #757575;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.07);
}

.order-header button
{
    background-color: #ec694f;
    color:#fff;
}

.order-header button:hover
{
    background-color: #ec694f;
    color:#fff;
}

.order-items
{
    padding-top: 10px;
}

.order-header button
{
    margin-left: 20px;
    width: 22%;
    text-align: left;
}

.order-date p
{
    display: inline-block;
    margin-left: 29px;
}

.order-items .row  img
{
    width: 20%;
    height: 20%;
}

.order-items .col-md-4 a
{
	color : #000;
    position: absolute;
    left: 115px;
    bottom: 40px;
}

.order-items .col-md-4 span
{
    position: absolute;
    bottom: 30px;
    left: 120px;
}

.order-items ul > li
{
    border-bottom: 1px solid #757575;
    list-style: none;
    margin-bottom: 7px;
}


.order-date p > small
{
    margin-left: 30px;
}

.push
{
	padding: 30px 30px 30px 30px;
}

/*-----------------------------------*/

